# Ignore everything in instances
instances/*

# But NOT this specific folder
!instances/CFLP-toy/
!instances/CFLP-toy/**

instance_data/
*.csv
*.lp
*.npz
*.npy
slurm/
*.slurm

outputs/
mlruns/
tmp/
__pycache__/
